link(href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
link(href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css", rel="stylesheet")
link(href="/css/style.css", rel="stylesheet")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
meta(name="viewport", content="width=device-width, initial-scale=1")